# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# System files
.DS_Store
Thumbs.db

# JetBrains/WebStorm
.idea/

# VS Code
.vscode/
demo/

# CLI links
.raunakrc

